*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background: #1e48aa;
  padding: 0 10px;
}

main{
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 18px;
  padding: 100px 5vw 0;
  min-height: 375px;
}

.form{
  width: 50%;
  border-radius: 10px;
  background-color: #f1f1f1;
  padding: 30px 10px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.form .form-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 18px;
}

.form h3{
  padding-bottom: 18px;
}

.form input{
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #222;
  padding: 8px 12px;
  font-size: 16px;
}

.form select{
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #222;
  padding: 8px 12px;
  font-size: 16px;
}

.form select + select{
  margin-top: 16px;
}

.form button{
  width: 100%;
  border-radius: 8px;
  background-color: #ddd;
  border: 1px solid #222;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.4s;
  margin-top: 16px;
}

.form .error-form{
  color: crimson;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-top: 16px;
}

.form button:hover{
  background-color: #ccc;
}

.card{
  width: 50%;
  border-radius: 10px;
  padding: 30px 10px 10px;
  background-color: #f1f1f1;
  color: #212121;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  text-align: center;
  position: relative;
}

.loader-container{
  background-color: #f1f1f1;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s ease-out, opacity 0.4s ease-out;
}

.loader-container.active{
  visibility: visible;
  opacity: 1;
}

.city-name{
  font-family: Lato, sans-serif;
  font-size: 50px;
  color: #333;
}

.country-name{
  font-family: Lato, sans-serif;
  font-size: 24px;
  margin-bottom: 45px;
  color: #606060;
}

.temperature{
  font-family: Lato, sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #212121;
}

.info-icon{
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.error-information{
  margin-bottom: 20px;
}